.top-nav,
main {
  padding-left: 300px;
}
.logo {
  padding: 5px 15px;
}
.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #2e2e2e !important;
}
.top-nav,
.btn {
  background-color: #2e2e2e !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #2e2e2e !important;
}
.text-right a {
  float: left;
  padding-left: 10px;
}
.text-right form button {
  float: left;
  background-color: transparent;
  border-color: transparent;
}
main {
  padding-top: 20px;
}
.miniatura {
  max-height: 70px;
  max-width: 150px;
  background-color: #f3f3f3;
}
.logo {
  text-align: center;
  background-color: #2e2e2e;
}
.logo img {
  max-height: 100px;
  display: inline-block;
}
#nav-mobile {
  max-height: 100%;
}
